<section class="pageheading">
  <h1 class="titlec">APIs</h1>
  </section>



<section id="Apis" class="section" style="background-color: #d3d3d3;">
  <h1 class="title is-1 heading-wide">APIs</h1>
  <div class="container is-widescreen"  [style.margin]="(isHandset$ | async) ? '0 0 0 0' : '0 10% 0 10%'">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">

      <mat-card class="example-card" *ngIf="githubResponse$">
        <mat-card-header>
          <img mat-card-avatar [src]="githubResponse$.avatar_url"  alt="Avatar of githubResponse$.name">
          <mat-card-title>{{githubResponse$.name}}</mat-card-title>
          <mat-card-subtitle>{{githubResponse$.bio}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class='icon-text'>
              <mat-icon class="icon-display" aria-hidden="false" aria-label="people icon">people</mat-icon>
                {{githubResponse$.followers}} followers         ·  following {{githubResponse$.following}}
            </div>
           <div  class='icon-text'>
             <mat-icon class="icon-display" aria-hidden="false" aria-label="Example home icon">web</mat-icon>
                <a rel="nofollow me" href="{{githubResponse$.blog}}">{{githubResponse$.blog}}</a>
          </div>

          <div *ngIf="(githubResponse$.hireable)"  class='icon-text'>
            <mat-icon class="icon-display" aria-hidden="false" aria-label="Example home icon">work</mat-icon>
              {{githubResponse$.name}} is looking for work
            </div>

          <div *ngIf="(!githubResponse$.hireable)"  class='icon-text'>
            <mat-icon class="icon-display" aria-hidden="false" aria-label="Example home icon">work_off</mat-icon>
             {{githubResponse$.name}} is not looking for work
            </div>

          <div class='icon-text'>
            <mat-icon class="icon-display" aria-hidden="false" aria-label="location icon">place</mat-icon>
              {{githubResponse$.location}}
            </div>

          <div  class='icon-text'>
            <mat-icon class="icon-display" aria-hidden="false" aria-label="mail icon">book</mat-icon>
            Public Repos: {{githubResponse$.public_repos}}
          </div>

          <div  class='icon-text'>
            <mat-icon class="icon-display" aria-hidden="false" aria-label="mail icon">event</mat-icon>
            Joined github on: {{githubResponse$.created_at}}
          </div>



          <div><mat-icon class="icon-display" aria-hidden="false" aria-label="mail icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.5 222.3" class="octicon"><path d="M273.5 26.3a109.77 109.77 0 0 1-32.2 8.8 56.07 56.07 0 0 0 24.7-31 113.39 113.39 0 0 1-35.7 13.6 56.1 56.1 0 0 0-97 38.4 54 54 0 0 0 1.5 12.8A159.68 159.68 0 0 1 19.1 10.3a56.12 56.12 0 0 0 17.4 74.9 56.06 56.06 0 0 1-25.4-7v.7a56.11 56.11 0 0 0 45 55 55.65 55.65 0 0 1-14.8 2 62.39 62.39 0 0 1-10.6-1 56.24 56.24 0 0 0 52.4 39 112.87 112.87 0 0 1-69.7 24 119 119 0 0 1-13.4-.8 158.83 158.83 0 0 0 86 25.2c103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3a114.25 114.25 0 0 0 28.1-29.1" fill="currentColor"></path></svg></mat-icon>
            <a rel="nofollow me" href="https://twitter.com/{{githubResponse$.twitter_username}}">{{githubResponse$.twitter_username}}</a>
           </div>

        </mat-card-content>

      <mat-card-actions>
          <button mat-button>Show repos</button>
          <a [href]="githubResponse$.html_url" mat-button>Go to github profile</a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
</section>
