

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.close(); scrollToElement('Skills')">Skills</a>
      <a mat-list-item (click)="drawer.close(); scrollToElement('Me') ">Me</a>
      <a mat-list-item  (click)="drawer.close(); scrollToElement('Adventures') ">Experience</a>
      <a mat-list-item (click)="drawer.close(); scrollToElement('Projects')">Projects</a>
      <a mat-list-item  (click)="drawer.close(); scrollToElement('Contact')">Contact Me</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin-bottom:5px;
   top: 0;
    position: sticky;
    z-index: 3;
    background-color: inherit;">
    <mat-toolbar class="navbar-menu" style="box-shadow: 0 3px 8px 0 rgba(0,0,0,.1); z-index: 3;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">


        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/"><img src="assets/logo.png" alt="logo" style="height: 58px;"></span>
      <span class="fill-space" [style.margin-right]="(isBoth$ | async) ? '20%' : '30%'"   ></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button (click)="scrollToElement('Skills')"><strong>Skills</strong></a>
        <a mat-button (click)="scrollToElement('Me')" ><strong>About me</strong></a>
        <a mat-button (click)="scrollToElement('Adventures')"><strong>Experience</strong></a>
        <a mat-button (click)="scrollToElement('Contact')"><strong>Contact</strong></a>

      </div>
    </mat-toolbar>
    </div>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
