

<section class="pageheading">
<h1 class="titlec">Resume</h1>
</section>

<section id="Skills" class="section" style="background-color: #d3d3d3;">
<div class="container is-widescreen">
<h2 class="title is-1 heading-wide" style="text-align:center">Skills</h2>
<div class="columns">
  <div class="column is-centered" [style.margin]="(isHandset$ | async) ? '10px' : '0 25% 0 25%'">
    <mat-chip-list>
      <mat-chip
        class="example-box"
        color="accent" selected
        *ngFor="let skill of skills">
        <img *ngIf="skill.logo" [src]="skill.logo" style='width:20px' alt=""><u>{{skill.name}}</u>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="column is-centered" [style.margin]="(isHandset$ | async) ? '10px' : '0 25% 0 25%'">
    <mat-chip-list>
      <mat-chip
        class="example-box"
        color="primary" selected
        *ngFor="let skill of programs">
        <img *ngIf="skill.logo" [src]="skill.logo" style='width:20px' alt="logo"><u>{{skill.name}}</u>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
</div>
</section>


<section id="Me" class="section" style="background-color: #d3d3d3;">
<h2 class="title is-1 heading-wide">About Me</h2>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
<!--   //style margin left moves row more towards center ! -->
  <div class="column is-narrow" [style.margin-left]="(isHandset$ | async) ? '30%' : '15%'">
    <img class="profile-pic" src="assets/pvz.jpg" alt="photo of pieter">
  </div>
  <div class="column is-half" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexAlign="center" style="margin-left:20px">
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
   eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
      sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
  <div class="is-centered" style='margin-left: 25%; margin-top: 10px'>
  <button class="button" fxFlexAlign="center" style="background-color: #FF8340;" (click)="downloadFile()" mat-button>  <mat-icon>get_app</mat-icon>Download PDF Resume</button>

</div>
</div>
</div>
</section>

<section id="Adventures" class="section">
<div class="container is-widescreen" style='display:flex' fxLayout="row wrap">
<div class='workcol' [style.width]="(isHandset$ | async) ? '100%' : '45%'">
<h1 class="title is-1 heading-wide">Experience</h1>
<div class="content" fxLayout="column wrap" fxLayoutGap="16px grid">
<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let experience of workexperiences">
  <mat-card class="mat-elevation-z6" class='workexpcard' >
    <mat-card-header>
      <mat-card-title>{{experience.title}}</mat-card-title>
      <mat-card-subtitle><strong style="color:#007074">{{experience.date}} |</strong>  {{experience.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="experience.paragraph"></p>
    </mat-card-content>
  </mat-card>
</div>
</div>
</div>
<div class='educationcol' [style.width]="(isHandset$ | async) ? '100%' : '45%'">
  <h1 class="title is-1 heading-wide">Education</h1>
  <div class="content" fxLayout="column wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let experience of educationexperiences">
    <mat-card class="mat-elevation-z6" class='workexpcard'>
      <mat-card-header>
        <mat-card-title>{{experience.title}}</mat-card-title>
        <mat-card-subtitle><strong style="color:#007074">{{experience.date}} |</strong>  {{experience.company}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="experience.paragraph"></p>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  </div>
</div>
</section>


<section id="Projects" class="section" style="background-color: #d3d3d3;">
  <h1 class="title is-1 heading-wide">Projects</h1>
  <div class="container is-widescreen">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card class="mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Project {{num}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</section>



<section id="Contact" class="section">
  <div class="container is-widescreen">
  <h1 class="title is-1 heading-wide">Contact me</h1>



</div>
</section>

