.pageheading {
  border: 0;
  text-align: center;
  padding: 30px 0px 50px;
  margin: 0;
  background-color:#04c2c9;
  padding-top: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
  max-width: 1220px;
  margin: 0 auto;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  border-radius: 15px 15px 0px 0px;
  }


  .titlec{
    color: white;
    font: 700 50px/48px Poppins, sans-serif;
  }

  .headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    font-size: 20px;
  }
  .heading-wide{
    text-align:center
  }
  .heading-wide:after {
    content:' ';
    display:block;
    margin-top:6px;
    border:2px solid #ff8340;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    animation: 1s ease-out 0s 1 growwide;
    width: 25%;
    margin-left: 37.5%;
  }

  .heading-mobile:after {
    content:' ';
    display:block;
    margin-top:6px;
    border:2px solid #e3591e;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    animation: 1s ease-out 0s 1 growwide;
    width: 50%;
    margin-left: 25%;
  }

  @keyframes growwide {
    0% {
      width: 0%
    }
    100% {
      width: 25%
    }
  }


  .section {

  padding-top: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
  max-width: 1220px;
  margin: 0 auto;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
  }

  img.mat-card-avatar {
    width: 60px;
    height: 60px;
  }

  .mat-icon {

    position: relative;
    top: 5px;
    margin-right: 5px;
  }

  .icon-text {
    padding-top: 5px
  }


  :host {
    display: block;
  }
  .fade {
    opacity: 0;
  }

.repo-card-div:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,.2);
}

.repo-card-div {
    color: #586069;
    background-color: #fff;
    box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
    padding: 2rem;
    cursor: pointer;
}
.repo-svg {
  margin-right: .5rem;
  min-width: 16px;
}

.repo-name {
  white-space: nowrap;
  color: #24292e;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -.5px;
}

.repo-left-stat span, .repo-name-div {
  display: flex;
  align-items: center;
}
.repo-left-stat span {
  margin-right: .75rem;
}

.repo-star-svg {
  margin-right: .3rem;
  margin-bottom: 10px;
}
.repo-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.repo-stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6a737d;
}

.repo-left-stat{
  flex-grow: 1;
  display: flex;

}


.language-color {
  width: 10px;
  height: 10px;
  background-color: #00f;
  margin-right: .25rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.TypeScript {
  background-color: #2B7489;
}
.SCSS {
  background-color: #C6538C;
}
.CSS {
  background-color: #563D7C;
}
.python {
  background-color: #E34C26;
}
.HTML {
  background-color: #E34C26;
}
.JavaScript {
  background-color: #F1E05A;
}

