
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
//@import "../node_modules/bulma/bulma.sass";
//@import "./node_modules/bulma/bulma.sass";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
//to do import fonts into site.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

$md-tealorange: (
    50 : #e1f8f9,
    100 : #b4edef,
    200 : #82e1e4,
    300 : #4fd4d9,
    400 : #2acbd1,
    500 : #04c2c9,
    600 : #03bcc3,
    700 : #03b4bc,
    800 : #02acb5,
    900 : #019fa9,
    A100 : #ff9962,
    A200 : #ff8340,
    A400 : #dd692a,
    A700 : #e3591e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-typography: mat-typography-config(
    $font-family: 'Open Sans, sans-serif',
    $headline: mat-typography-level(32px, 48px, 700,'Poppins, sans-serif'),
    $title: mat-typography-level(32px, 48px, 700,'Poppins, sans-serif'),
    $body-1: mat-typography-level(16px, 24px, 500)
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$project-one-master-primary: mat-palette($md-tealorange);
$project-one-master-accent: mat-palette($md-tealorange, A200, A100, A400);
$project-one-master-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-one-master-theme: mat-light-theme((
  color: (
    primary: $project-one-master-primary,
    accent: $project-one-master-accent,
    warn: $project-one-master-warn,
  )
));

html, body { height: 100%;  margin: 0; }
h1{   font-family: 'Poppins', sans-serif;}
body { font-family: 'Open Sans', sans-serif; }


@include angular-material-theme($project-one-master-theme);

@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

