

<section id="Skills" class="section" style="background-color: #d3d3d3;">
<div class="container is-widescreen">
<h1 class="title is-1 heading-wide" style="text-align:center">Skills</h1>
<div class="columns">
  <div class="column is-centered" [style.margin]="(isHandset$ | async) ? '10px' : '0 25% 0 25%'">
    <mat-chip-list>
      <mat-chip
        class="example-box"
        color="accent" selected
        *ngFor="let skill of skills">
        <img *ngIf="skill.logo" [src]="skill.logo" style='width:20px' alt=""><u>{{skill.name}}</u>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="column is-centered" [style.margin]="(isHandset$ | async) ? '10px' : '0 25% 0 25%'">
    <mat-chip-list>
      <mat-chip
        class="example-box"
        color="primary" selected
        *ngFor="let skill of programs">
        <img *ngIf="skill.logo" [src]="skill.logo" style='width:20px' alt="logo"><u>{{skill.name}}</u>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
</div>
</section>


<section id="Me" class="section" style="background-color: #d3d3d3;">
<h1 class="title is-1 heading-wide">About Me</h1>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
<!--   //style margin left moves row more towards center ! -->
  <div class="column is-narrow" [style.margin-left]="(isHandset$ | async) ? '30%' : '15%'">
    <img class="profile-pic" src="assets/pvz.jpg" alt="photo of pieter">
  </div>
  <div class="column is-half" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexAlign="center" style="margin-left:20px">
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
   eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
      sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
  <div class="is-centered" style='margin-left: 25%; margin-top: 10px'>
  <button class="button" fxFlexAlign="center" mat-button>  <mat-icon>get_app</mat-icon>Download PDF Resume</button>
</div>
</div>
</div>
</section>

<section id="Adventures" class="section">
<div class="container is-widescreen">
<h1 class="title is-1 heading-wide">Experience</h1>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
</section>

<section id="resume">
  <div class="row education">
  <div class="three columns header-col">
      <h1><span>Education</span></h1>
  </div>
  <div class="nine columns main-col">
                  <div class="row item">
          <div class="twelve columns">
                                  <h3>North-West University</h3>
                                                      <p class="info">Bachelor of Science in Information Technology <span>•</span> <em class="date">January 2018 - present</em></p>
                                  <p>
                  I decided in 2017 that I will persue a career in IT as I have a lot of passion for gaming and IT related things,For as long as I've been at NWU I have discovered more of my passions such as my passion for game design and for coding and programming , thus far this degree has taught me many coding langauges such as python, java and c++ but more than that it has taught me interpersonal skills and the importance of working in a team.
              </p>


          </div>
      </div>
                  <div class="row item">
          <div class="twelve columns">
                                  <h3>Highschool Sasolburg</h3>
                                                      <p class="info">IT , Science , Biology <span>•</span> <em class="date">January 2012 - 2017</em></p>
                                  <p>
                  Highschool was a time of growth for me, where I really discovered the creative in me. I competed on a national level in a game called League of legends during 2015-2016 as well as being a part of numerous plays throughout my highschool career. This is where I first realized how much I love photography and that I have a keen eye for compisition and creative potraits, and before I had a camera I was that friend who everyone wanted to borrow their camera to.
              </p>


          </div>
      </div>
              </div>
</div>
  <div class="row work">
  <div class="three columns header-col">
      <h1><span>Work</span></h1>
  </div>
  <div class="nine columns main-col">
                  <div class="row item">
          <div class="twelve columns">
                                  <h3>Pieter van Zyl Creative Co</h3>
                                                      <p class="info">Photographer &amp; Videographer <span>•</span> <em class="date">March 2017 - Present</em></p>
                                  <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
              </p>


          </div>
      </div>
                  <div class="row item">
          <div class="twelve columns">
                                  <h3>Amazitech Office National</h3>
                                                      <p class="info">Junior IT Technician <span>•</span> <em class="date">June 2017 - Present</em></p>
                                  <p>
                  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat
              </p>


          </div>
      </div>
              </div>
</div>
</section>


<section id="Projects" class="section" style="background-color: #d3d3d3;">
  <h1 class="title is-1 heading-wide">Projects</h1>
  <div class="container is-widescreen"  [style.margin]="(isHandset$ | async) ? '0 0 0 0' : '0 10% 0 10%'">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >

    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card class="mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Project {{num}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</section>

<section id="Apis" class="section" style="background-color: #d3d3d3;">
  <h1 class="title is-1 heading-wide">APIs</h1>
  <div class="container is-widescreen"  [style.margin]="(isHandset$ | async) ? '0 0 0 0' : '0 10% 0 10%'">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >

    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">

      <mat-card class="example-card" *ngIf="githubresponse$">
        <mat-card-header>
          <img mat-card-avatar [src]="githubresponse$.avatar_url"  alt="Avatar of githubresponse$.name">
          <mat-card-title>{{githubresponse$.name}}</mat-card-title>
          <mat-card-subtitle>{{githubresponse$.bio}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>  {{githubresponse$.name}} joined github on: {{githubresponse$.created_at}}</div>
           <div> Currently has {{githubresponse$.followers}} followers and is following {{githubresponse$.following}} users.</div>
           <div> Currently has {{githubresponse$.public_repos}} open-source repos and has starred {{githubresponse$.public_gists}} repos.</div>

          <div *ngIf="(githubresponse$.hireable)"> {{githubresponse$.name}} is looking for work according to github</div>
          <div *ngIf="(!githubresponse$.hireable)"> {{githubresponse$.name}} is not looking for work according to github</div>

        </mat-card-content>

      <mat-card-actions>
          <button mat-button>Show repos</button>
          <button mat-button>Go to github profile</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
</section>

<section id="Contact" class="section">
  <div class="container is-widescreen">
  <h1 class="title is-1 heading-wide">Contact me</h1>



</div>
</section>

<!--
<div>
  *ngIf="githubresponse$"
  <textarea>{{githubresponse$.bio}}</textarea>
</div>
 -->
